<section class="home section--lg">
    <div class="home__container container_es grid_es">
        <div class="home__content">
            <span class="home__subtitle">
                Hot promotions
            </span>
            <h1 class="home__title">
                Fashion Trending <span>Great collection</span>
            </h1>
            <p class="home__description">Save more with Coupon</p>
            <a href="/shop" class="shop__btn">Shop Now</a>
        </div>
        <img src="http://localhost:3030/api/files/image/22701fc5-ace6-4893-ad9f-2470881747ba/get/large"
            alt="Samsung Galaxy S23 Ultra" class="home__img">
    </div>
</section>