
<section class="showcase section_es">
    <div class="showcase__container container_es grid_es">
        <div class="showcase__wrapper">
            <h3 class="showcase__main__title">Hot Release</h3>
            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5 - 1</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5 - 2</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="showcase__wrapper">
            <h3 class="showcase__main__title">new Release</h3>
            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5 - 1</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5 - 2</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase__wrapper">
            <h3 class="showcase__main__title">best Release</h3>
            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5 - 1</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>

            <div class="showcase__item">
                <a href="" class="showcase__img-box">
                    <img src="http://localhost:3030/api/files/image/621277de-587c-48aa-9e2a-3d914458459a/get/large"
                        alt="" class="showcase__img">
                </a>
                <div class="showcase__content">
                    <a href="">
                        <h4 class="showcase__title">Sony WH-1000XM5 - 2</h4>
                    </a>

                    <div class="showcase__price flex_es">
                        <span class="new__price">Ar 600K</span>
                        <span class="old__price">Ar 620K</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>