<footer class="footer container_es">
    <div class="footer__container grid_es">
        <div class="footer__content">
            <a href="" class="footer_logo">
                <img src="/img/trolley.png" alt="" class="footer__logo-img">
            </a>

            <h4 class="footer__subtitle">Contact</h4>
            <p class="footer__description"><span>Address:</span> Vs Ambolikandrina</p>
            <p class="footer__description"><span>Number:</span> +261 34 39 360 29</p>
            <p class="footer__description"><span>mail:</span> Concat@boutikCP.com</p>

            <div class="footer_social">
                <h4 class="footer__subtitle">Follow Us</h4>

                <div class="footer__social-links">
                    <a href="" target="_blank" class="footer__social-icon"><i class="ri-twitter-line"></i></a>
                    <a href="" target="_blank" class="footer__social-icon"><i class="ri-linkedin-box-fill"></i></a>
                    <a href="" target="_blank" class="footer__social-icon"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="" target="_blank" class="footer__social-icon"><i class="ri-instagram-line"></i></a>
                </div>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Legal</h3>

            <ul class="footer__links">
                <li><a href="" target="_blank" class="footer__link">About Us</a></li>
                <li><a href="" target="_blank" class="footer__link">Privacy policy</a></li>
                <li><a href="" target="_blank" class="footer__link">Terms & Conditions</a></li>
                <li><a href="" target="_blank" class="footer__link">Contact Us</a></li>
                <li><a href="" target="_blank" class="footer__link">Support Center</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">My Account</h3>

            <ul class="footer__links">
                <li><a href="" target="_blank" class="footer__link">Sign In</a></li>
                <li><a href="" target="_blank" class="footer__link">View Cart</a></li>
                <li><a href="" target="_blank" class="footer__link">My wishlist</a></li>
                <li><a href="" target="_blank" class="footer__link">Help</a></li>
                <li><a href="" target="_blank" class="footer__link">Order</a></li>
            </ul>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="copyright">&copy; <span id="year"></span> all Right reserved</div>
        <span class="designer">Ambinintsoa Tech & Consulting</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/index.js"></script>
<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
</body>

</html>