<header class="header">
    <div class="header__top">
        <div class="header__container container_es">
            <div class="header__contact">
                <span>+261 34 39 360 29</span>
                <span>Our location</span>
            </div>

            <p class="header__alert_news">super deal - Save more with coupons</p>

            <a href="/login-register" class="header__top-action">Login / Sign Up</a>
        </div>
    </div>


    <nav class="nav container_es">
        <a href="" class="nav__logo">
            <img src="/img/trolley.png" alt="" class="nav__logo-img">
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link active-link">Home</a>
                </li>

                <li class="nav__item">
                    <a href="/shop" class="nav__link">Shop</a>
                </li>

                <li class="nav__item">
                    <a href="/account" class="nav__link">My account</a>
                </li>

                <li class="nav__item">
                    <a href="/compare" class="nav__link">compare</a>
                </li>

                <li class="nav__item">
                    <a href="/authentication" class="nav__link">Authentication</a>
                </li>
            </ul>

            <div class="header__search">
                <input type="text" placeholder="search for items" class="form__input">
                <button class="search__btn"><i class="ri-search-line"></i></button>
            </div>
        </div>

        <div class="header__user_action">
            <a href="/whishlist" class="header__action-btn">
                <i class="ri-heart-line"></i>
                <span class="count">3</span>
            </a>

            <a href="/cart" class="header__action-btn">
                <i class="ri-shopping-cart-2-line"></i>
                <span class="count">4</span>
            </a>
        </div>
    </nav>
</header>