<section class="newsletter section_es home__newsletter">
    <div class="newsletter__container container_es grid_es">
        <h3 class="newsletter__title flex_es">
            <div class="newsletter__icon">
                <i class="ri-mail-send-fill"></i>
            </div>

            Sign up to newsletter
        </h3>

        <p class="newsletter__description">
            restez notifier et obtener des réduction
        </p>

        <form action="" class="newsletter__form">
            <input type="email" placeholder="enter you email" class="newsletter__input">
            <button type="submit" class="newsletter__btn">Subscribe</button>
        </form>
    </div>
</section>